<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-6">This is about us page.</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/basic" role="button">Home</a>
    <a class="btn btn-light btn-lg" href="/contact" role="button">Contact Us</a>
    <hr>
  </div>
</div>
