<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-6">Welcome to Product Management</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/basic" role="button">Home</a>
    <a class="btn btn-light btn-lg" href="/about" role="button">About Us</a>
    <a class="btn btn-light btn-lg" href="/contact" role="button">Contact Us</a>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
